<!DOCTYPE html>
<html>
  <head>
  	 <title>Chatty</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>

  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main role="main">
       <%= render 'layouts/alert' %>
       <%= yield %>
    </main>
    <audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
  </body>
</html>